@import url('https://fonts.googleapis.com/css?family=Syne%20Mono:700|Syne%20Mono:400');

@media (prefers-color-scheme: light) {
  :root {
    --text: #16091b;
    --background: #ede4f6;
    --primary: #54296b;
    --secondary: #d289c1;
    --accent: #aa417c;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f1e4f6;
    --background: #12091b;
    --primary: #bf94d6;
    --secondary: #762d65;
    --accent: #be5591;
  }
}

body {
  font-family: 'Syne Mono';
  font-weight: 400;
}

h1, h2, h3, h4, h5, div, button, input {
  font-family: 'Syne Mono';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


body {
    caret-color: var(--text);
    caret-shape : block;
    min-height: 100vh;
    color: var(--text);
    background:var(--background);
    transition:
	color 0.5s,
	background-color 0.5s;
    line-height: 1.6;
    margin : auto;
}

.rounded-container{
    border-radius: 5px;
    border: 3px solid var(--primary);
    margin: 1rem;

    padding : 1rem;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

button{
    
    border : 3px dashed var(--primary);
    outline : none;
    color: var(--text);
    padding : 10px;
    border-radius : 5px;
    transition:
    color 0.5s,
    filter 0.5s;
    background: transparent;
    cursor: pointer;
}

button:hover,
a:hover,
button:focus,
a:focus,
input:focus{
    background : var(--secondary);
    outline : none;
}

a{
    color: var(--accent);
}

select{
 width: 100%;
        padding: 8px;
        margin-bottom: 10px; /* Adjust the spacing if needed */
        display: block; /* Display the select input on smaller screens */
        
        /* Styling with custom colors */
        background-color: var(--primary);
        color: var(--text);
        border: 1px solid var(--text);
        border-radius: 5px;
}

input {
    border: none;
    border-bottom: 2px dashed var(--primary);
    color: var(--text);
    outline: none;
    box-shadow: none;
    background-color: transparent;
    caret: blue block;

}
.nav{
    height : fit-content;
}
@media(max-width:768px){
    .rounded-container{
	border-radius: 0px;
	border: none;
	margin: 0;
	box-shadow: none;
    }
    
    h1{
	font-size:2rem
    }

    p{
	font-size:0.8rem
    }

    router-link{
	font-size:1rem;
    }
    
    nav{
	background: var(--primary);
	color:var(--secondary);
	padding : 0;
    }
}
